<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/index.js"></script>
    <title>Index Page</title>
</head>
<body>
    <nav class="navbar">
        
        <li><a href="/index">HOME</li>
        <li class="del"><a href="/signin">LOGIN</a></li>
        <li class="del"><a href="/signup">REGISTER</a></li>
    </nav>
<div class="postBox" id="postForm">
    <form >
    <legend>Create a post</legend>
    <input type="text" name="title" id="title" placeholder="Title" required>
    <textarea name="postContent" id="postContent" cols="70" rows="3" placeholder="Write something..." required></textarea>
    <input type="submit" value="POST" id="postBtn">
    
    </form>
</div>
<div class="content">
</div>

</body>
</html>